body {
    font-family: 'muliregular', 'oswaldregular', sans-serif;
    background-color: $primary;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a,
a:hover,
a:visited {
    color: $text-color;
    text-decoration: none;
}